



    <!--slider div start-->
    <div class="carousel slide" data-bs-ride="carousel" id="ash">
        <div class="carousel-indicators" style="display: none;">
            <button type="button" data-bs-target="#ash" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#ash" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#ash" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#ash" data-bs-slide-to="3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="https://wallpaperaccess.com/full/2626353.jpg" alt="" class="w-100"
                    style="background-image: position-fixed; height: 600px;">
            </div>

            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://thumbs.dreamstime.com/z/campus-view-nanyang-technological-university-singapore-ntu-one-two-largest-public-universities-no-univercity-asia-qs-99519936.jpg"
                    alt="" class="w-100" style="height: 600px;">
            </div>

            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://images.pexels.com/photos/17792670/pexels-photo-17792670/free-photo-of-a-large-brick-building-with-columns-and-a-green-lawn.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="" class="w-100" style="height: 600px;">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://images.pexels.com/photos/11823056/pexels-photo-11823056.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="" class="w-100" style="height: 600px;">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="carousel-item" data-bs-interval="2000">
                <img src="https://images.pexels.com/photos/11823056/pexels-photo-11823056.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="" class="w-100" style="height: 600px;">

            </div>

        </div><!--carousel-inner- end-->
        <button class="carousel-control-prev" type="button" data-bs-target="#a" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#a" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
    <!--slider div end-->