<%-include('./layout/header.ejs')%>


    <!--container start-->
    <div class="container text-center " style="margin-top: 8rem;">
        <h1 style="text-transform: capitalize;">lets learn about us</h1>
        <p style="text-transform: capitalize;" class="text-center">
            the collage has own web-developed state of art <br> infrastructure.the insitute buid on the land,20 <br>
            acres in area with contruction of nearly 20,000sqt m.in a <br>pollution-free surroroundig.the capus is
            easiely <br>
            approachablefrom all cornersof greater gwalior.
        </p>
        <div class="row">
            <div class="col-md-6" style="margin-top: 6rem;">
                <h1 style="text-transform: capitalize;">computer center</h1>
                <p style="text-transform: capitalize" class="text-center">
                    the insitute has fully air-conditined state of art central computer center , <br>which is available
                    to student of all <br>branches of the staff during of after collge hours. <br>it is equlped in 100
                    no.of the latest pc`and licensed software. apart from the central <br>computing faclities there are
                    saprate computer center in each department.
                </p>
            </div>
            <div class="col-md-6 " style="margin-top: 6rem;">
                <img src="https://tse4.mm.bing.net/th?id=OIP.l_iVYqxrOeJn8eCnW--ZsQHaEH&pid=Api&P=0&h=180" alt=""
                    width="100%">
            </div>

        </div><!--row end-->
    </div><!--container end-->

    <%-include('./layout/footer.ejs')%>