<%-include('./layout/header.ejs')%>


    <!--container start-->
    <div class="container" style="background: whitesmoke; margin-top: 7rem;">
        <div class="row">
            <h3 class="text-dark"><a href="" style="text-decoration: none; color: black;">contact</a>/us</h3>
        </div><!--row end-->
    </div><!--container end-->

    <!--container start-->
    <div class="container mt-5 ">
        <h3>CONTACT US
            <hr>
        </h3>

        <div class="row">
            <div class="col-md-7">
                <form>
                    <div class="mb-2">
                        <label>username</label>
                        <input type="text" name="" class="form-control">
                    </div>

                    <div class="mb-2">
                        <label>password</label>
                        <input type="password" name="" class="form-control">
                    </div>

                    <div class="mb-2">
                        <label>your EMAIL</label>
                        <input type="email" name="" class="form-control">
                    </div>

                    <div class="mb-2">
                        <label>subject</label>
                        <input type="subject" name="" class="form-control">
                    </div>

                    <div class="mb-2">
                        <label>massage</label>
                        <textarea name="" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-lg btn-primary">SEND MASSAGE</button>
                </form>
            </div>

            <div class="col-md-5" style=" background: whitesmoke;" padding:40px 0 0 70px; width: 500px; height: 350px;">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d229085.18221693533!2d78.02608199071899!3d26.214369957913036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3976c5d1792291fb%3A0xff4fb56d65bc3adf!2sGwalior%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1716278682599!5m2!1sen!2sin"
                    width="400" height="300" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" style=" padding: 20px;margin-left: 27px;"></iframe>

                <span style="background: wheat; width: 500px; height: 200px;">
                    <p class="text-dark"> <i class="fa-sharp fa-solid fa-location-dot"
                            style="color: rgb(186, 106, 25);"></i>
                        123 Street, New York, USA</p>
                    <p class="text-dark"><i class="fa-solid fa-message" style="color: rgb(186, 106, 25);"></i>
                        info@example.com</p>
                    <p class="text-dark"><i class="fa-solid fa-phone" style="color: rgb(186, 106, 25)"></i>
                        +012 345 67890
                    </p>
                </span>
            </div>

        </div><!--row end-->
    </div><!--cont end-->

<%-include('./layout/footer.ejs')%>